.productList {
	display: flex;
	width: 90%;
	margin: 25px auto;
	row-gap: 25px;
	column-gap: 2%;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.productItem {
	display: flex;
	cursor: pointer;
	flex-direction: column;
	width: 23%;
	box-shadow: 0px 0px 3px 0px rgba(77, 75, 77, 1);
	padding: 20px 10px 10px;
	box-sizing: border-box;
	border-radius: 4px;
}
.productItemImageContainer > img {
	height: 350px;
	width: 100%;
	border: none;
}

.productItemHeading {
	font-size: 15px;
	font-weight: 500;
}
.productItemDescription {
	padding-top: 3px;
	font-size: 14px;
	color: gray;
}
.productItemPriceContainer {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	font-size: 13px;
	align-items: center;
	padding: 7px 0;
}

.productItemPriceContainer > span:nth-child(1) {
	font-weight: 500;
}

.productItemPriceContainer > span:nth-child(2) {
	color: gray;
	text-decoration: line-through;
}

.productItemPriceContainer > span:nth-child(3) {
	color: rgb(245, 138, 88);
	font-size: 11px;
}

.cartButton {
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 7px 0;
	background: black;
	color: white;
}

.cartButton:hover {
	opacity: 0.7;
}
